$primary: #003049;
$secondary: #d62828;

// Content
$link-color: $secondary;

// Typography
$font-size-base: 1rem;
$lead-font-size: $font-size-base * 1.5;
$font-family-sans-serif: "Open Sans", sans-serif;

// Buttons
$input-btn-padding-y: 0.75rem;
$input-btn-padding-x: 1rem;
